* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  /*! ===== Neo header ===== */
}
header .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f4f4f4;
}
header .title .content {
  line-height: 2;
  transition: all 0.5s;
}
header .title .content span {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: black;
}
header .title .content a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: black;
}
header .title .content:hover {
  color: #d8c6b4;
}
header .fixed-top {
  transition: all 0.4s ease 0s;
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
  top: 30px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
header .navbar {
  padding: 0;
}
header .navbar .container-fluid {
  padding-right: 0 !important;
}
header .navbar .navbar-brand {
  padding: 0;
}
header .navbar .navbar-brand img {
  width: 100%;
}
header .collapse {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
header .collapse .navbar-nav .nav-link {
  position: relative;
  margin-right: 20px;
}
header .collapse .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background: rgb(177, 17, 17);
  margin-right: 20px;
  color: black !important;
  transition: all 0.5s;
}
header .collapse .navbar-nav .nav-link:active::after {
  width: 100%;
}
header .collapse .navbar-nav .nav-link:hover::after {
  width: 100%;
  color: rgb(177, 17, 17) !important;
}
header .collapse .navbar-nav .active {
  color: rgb(177, 17, 17) !important;
}
header .collapse .account_item {
  padding-top: 16px;
}
header .collapse .account_item a {
  margin-right: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: all 0.5s;
}
header .collapse .account_item a:hover {
  text-decoration: underline;
  color: rgb(177, 17, 17);
}
header .collapse .account_search .navbar-nav .form-control {
  border-radius: 0 !important;
  border: 0;
  background-color: black;
  padding: 15px;
}

header .nav-fixed {
  top: 0;
  padding: 0px;
  background-color: #fff;
  height: 55px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-bottom: none;
  z-index: 999 !important;
}

.banner {
  background-image: url(./../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  background-position: center;
  margin-top: 50px;
  padding: 20px 20px 50px;
}
.banner .banner_title {
  margin: 20px 0 55px;
}
.banner .banner_title a {
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: black;
  transition: all 0.3s;
}
.banner .banner_title a:hover {
  text-decoration: underline;
}
.banner h1 {
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.register h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

footer {
  margin-top: 20px;
}
footer .footer_top .top {
  border: 1px solid #e0e0e0;
  padding: 35px;
  text-align: center;
}
footer .footer_top .top h4 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
footer .footer_top .top a {
  text-decoration: none;
  transition: all 0.5s;
  color: black;
}
footer .footer_top .top a i {
  margin: 20px 5px;
  font-size: 18px;
}
footer .footer_top .top a:hover {
  color: rgb(177, 17, 17);
}
footer .footer_top .top p {
  font-size: 13px;
  font-weight: 300;
  color: black;
}
footer .footer_middle {
  margin: 20px 0;
}
footer .footer_middle .middle {
  margin-bottom: 20px;
  text-align: left;
}
footer .footer_middle .middle a {
  transition: all 0.5s;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 400;
  color: black;
}
footer .footer_middle .middle a:hover {
  color: rgb(177, 17, 17);
  text-decoration: underline;
}
footer .footer_middle .middle h5 {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
footer .footer_middle .middle p {
  font-size: 13px;
  font-weight: 300;
  color: black;
}
footer .footer_middle .middle .content_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .footer_middle .middle .content_item .item {
  padding: 5px 5px;
  border: 1px solid #e0e0e0;
  transition: all 0.6s;
  text-align: center;
}
footer .footer_middle .middle .content_item .item:hover {
  background-color: black;
}
footer .footer_middle .middle .content_item .item:hover a i {
  color: #ffffff;
}
footer .footer_middle .input-group .form-control {
  border-radius: 0;
}
footer .footer_middle .input-group button {
  border-radius: 0;
  padding: 0 20px;
}
footer .footer_bottom {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer_bottom .col-6 .countryside {
  background-image: url(./../img/logo\ vietnam.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
}
footer .footer_bottom .col-6 a {
  margin-right: 15px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer_bottom .col-6 a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer .footer_bottom .col-6 p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=register.css.map */